

<br>
<br>

<div class="container">
<form [formGroup]="BibleinfoService.form">
    <div class="row">
      <div class="col-md-8">
     

  
    <mat-form-field class="bible-select" appearance="outline">
        <mat-select (selectionChange)="loadBooks()" formControlName="bible_id" matInput placeholder="Bibles">
          <mat-option>None</mat-option>
            <ng-container *ngFor="let bible of bibleTranslations">
          <mat-option  value="{{bible.id}}">{{bible.abbreviationLocal}}-{{bible.nameLocal}}</mat-option>
            </ng-container>
      </mat-select>
       <mat-error >This field is mandatory</mat-error> 
     </mat-form-field>

     <mat-form-field class="bible-select"  appearance="outline">
        <mat-select (selectionChange)="loadChapters()"  formControlName="books_id" matInput placeholder="Books">
          <mat-option>None</mat-option>
            <ng-container *ngFor="let book of books">
          <mat-option  value="{{book.id}}">{{book.name}}</mat-option>
            </ng-container>
      </mat-select>
       <mat-error >This field is mandatory</mat-error> 
     </mat-form-field>

     <mat-form-field class="bible-select" appearance="outline">
        <mat-select formControlName="chapter_id" matInput placeholder="Chapters">
          <mat-option>None</mat-option>
            <ng-container *ngFor="let chapter of chapters">
          <mat-option  value="{{chapter.id}}">{{chapter.reference}}</mat-option>
            </ng-container>
      </mat-select>
       <mat-error >This field is mandatory</mat-error> 
     </mat-form-field>

     <section>
        <div class="example-label">Bible Passage</div>
        <div class="example-button-row">
          <button mat-raised-button (click)="addClickEvent()">Basic</button>
          <button type="submit"  mat-raised-button color="primary" (click)="getbiblePassage()">Primary</button> 
        </div>
      </section>
     
      
      <p></p>
      
      <app-c [bibleInfoChild]="bibleInfo">
        </app-c>
  
      
    </div>
</div>
  </form>
</div>


  
