<ng-container>
  <mat-sidenav-container class="example-container">
 
    <mat-sidenav  #sidenav mode="side"  fixedInViewport="true"  class="example-sidenav">
  

      <mat-card class="example-card"  *ngFor="let note of profileNotes">
        <mat-card-title>{{note.title}}</mat-card-title>
        <mat-card-subtitle>{{note.verses}}</mat-card-subtitle>
        <mat-card-content>
          <p class="italic">{{note.createdAt | date:'mediumDate'}}</p>
          <p>{{note.notes}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>LIKE</button>
          <button mat-raised-button color="warn" (click)="deleteBibleNote(note._id)">DELETE</button>
        </mat-card-actions>
      </mat-card>
 
  </mat-sidenav>

    <mat-sidenav-content >
    
      <br>
      <br>
      
      <div class="container">
      <form [formGroup]="BibleinfoService.form">
          <div class="row">
            <div class="col-lg-12">
            
            <mat-form-field class="bible-select" appearance="outline">
              <mat-select (selectionChange)="loadBooks()" formControlName="bible_id" matInput placeholder="Bibles">
                <mat-option>None</mat-option>
                  <ng-container *ngFor="let bible of bibleTranslations">
                <mat-option  value="{{bible.id}}">{{bible.abbreviationLocal}}-{{bible.nameLocal}}</mat-option>
                  </ng-container>
            </mat-select>
             <mat-error >This field is mandatory</mat-error> 
           </mat-form-field>
      
           <mat-form-field class="bible-select"  appearance="outline">
              <mat-select (selectionChange)="loadChapters()"  formControlName="books_id" matInput placeholder="Books">
                <mat-option>None</mat-option>
                  <ng-container *ngFor="let book of books">
                <mat-option  value="{{book.id}}">{{book.name}}</mat-option>
                  </ng-container>
            </mat-select>
             <mat-error >This field is mandatory</mat-error> 
           </mat-form-field>
      
           <mat-form-field class="bible-select" appearance="outline">
              <mat-select (selectionChange)="getbiblePassage()"  formControlName="chapter_id" matInput placeholder="Chapters">
                <mat-option>None</mat-option>
                  <ng-container *ngFor="let chapter of chapters;">
                <mat-option  value="{{chapter | json}}">{{chapter.reference}}</mat-option>
                  </ng-container>
            </mat-select>
             <mat-error >This field is mandatory</mat-error> 
           </mat-form-field>
      
           <section>
              <div class="example-label">Bible Passage</div>
              <div class="example-button-row">
                <button mat-raised-button (click)="sidenav.toggle()">Notes</button>
                <button type="submit"  mat-raised-button color="primary" (click)="getbiblePassage()">Passage</button> 
              </div>
            </section>
           
            
            <p></p>
            
            <app-c [bibleInfoChild]="bibleInfo">
              </app-c>
             
            
          </div>
      </div>
        </form>
      </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-container>






  
