
<br>
<br>

<div class="container">
<form [formGroup]="BibleinfoService.form">
    <div class="row">
      <div class="col-md-8">
     

  
    <mat-form-field class="bible-select" appearance="outline">
        <mat-select (selectionChange)="loadBooks($event)" formControlName="books_id" matInput placeholder="Bibles">
          <mat-option>None</mat-option>
            <ng-container *ngFor="let bible of bibleTranslations">
          <mat-option  value="{{bible.id}}">{{bible.abbreviationLocal}}-{{bible.nameLocal}}</mat-option>
            </ng-container>
      </mat-select>
       <mat-error >This field is mandatory</mat-error> 
     </mat-form-field>

     <mat-form-field class="bible-select" appearance="outline">
        <mat-select (selectionChange)="loadChapters($event)"  formControlName="books_id" matInput placeholder="Books">
          <mat-option>None</mat-option>
            <ng-container *ngFor="let book of books">
          <mat-option  value="{{book.id}}">{{book.name}}</mat-option>
            </ng-container>
      </mat-select>
       <mat-error >This field is mandatory</mat-error> 
     </mat-form-field>

     <mat-form-field class="bible-select" appearance="outline">
        <mat-select formControlName="books_id" matInput placeholder="Chapters">
          <mat-option>None</mat-option>
            <ng-container *ngFor="let chapter of chapters">
          <mat-option  value="{{chapter.id}}">{{chapter.reference}}</mat-option>
            </ng-container>
      </mat-select>
       <mat-error >This field is mandatory</mat-error> 
     </mat-form-field>

     <section>
        <div class="example-label">Bible Passage</div>
        <div class="example-button-row">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button color="primary" (click)="getBible()">Primary</button> 
        </div>
      </section>
    
       <p></p>
        <div *ngIf="bibleInfo" [innerHTML]="bibleInfo.data.content"></div>
      

    
    </div>
</div>
  </form>
</div>

  
