<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2">
          <a class="text-success" (click)="add()">
            <mdb-icon fas icon="plus" size="2x"></mdb-icon>
          </a>
        </span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th class="text-center">Person Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Mobile</th>
            <th class="text-center">Role</th>
            <th class="text-center">City</th>
            <th class="text-center">State</th>
            <th class="text-center">Gender</th>
            <th class="text-center">Department</th>
            <th class="text-center">isActive</th>
            <th class="text-center">DOB</th>
            <th class="text-center">Sort</th>
            <th class="text-center">Edit/Delete</th>
          </tr>
          <tr *ngFor="let user of users; let id = index; let row">
            <td>
              <span  contenteditable="true">{{user.fullName}}</span>
            </td>
            <td>
              <span contenteditable="true" >{{user.email}}</span>
            </td>
            <td>
              <span contenteditable="true" >{{user.mobile}}</span>
            </td>
            <td>
              <span contenteditable="true" >{{user.role}}</span>
            </td>
            <td>
              <span contenteditable="true" >{{user.city}}</span>
            </td>
            <td>
              <span contenteditable="true" >{{user.state}}</span>
            </td>
            <td>
              <span contenteditable="true" >{{user.gender}}</span>
            </td>
            <td>
              <span contenteditable="true" >{{user.department}}</span>
            </td>
            <td>
              <span contenteditable="true" >{{user.isActive}}</span>
            </td>
            <td>
              <span contenteditable="true">{{user.dob | date : 'longDate'}}</span>
            <td>
              <span class="table-up">
                <a class="indigo-text">
                  <mdb-icon fas icon="long-arrow-alt-up"></mdb-icon>
                </a>
              </span>
              <span class="table-down">
                <a class="indigo-text">
                  <mdb-icon fas icon="long-arrow-alt-down"></mdb-icon>
                </a>
              </span>
            </td>
            <td>
              <a class="black-text" (click)="onEdit(user)"><mdb-icon fas icon="fas fa-edit"></mdb-icon></a>
              <a class="red-text" (click)="removeUser(user._id)"><mdb-icon fas icon="fas fa-trash"></mdb-icon></a>
          </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
 