.container .sameRow .mat-form-field {
    margin-top: 5px;
    margin-right: 8px;
  }
  
  .container .sameRow .mat-form-field {
    width: 250px;
  }
  
  .container form {
    margin-bottom: 5px;
  }

  .date-label {
      //font-weight: bold;
      font-style:italic;
      font-size: 14px;
  }

 .disabledLook {
    pointer-events: none;
    color: rgba(0,0,0,.38);
}


 