
  

.myAwesomeClass {
    background-color: blue;
  }
 /* 
.verse-span {
    background-color: greenyellow;
  }
*/
[data-verse-id="EXO.1.1"]  {
    background-color: Chartreuse;
  }


 .underlineClass {    
    border-bottom: 1px dotted #000;
    text-decoration: none;
}