<mat-toolbar>
    <span>Make Some  Changes to your Bible</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stoked-button (click)="onClose()" tabIndex="-1"><mat-icon>x</mat-icon></button>
  </mat-toolbar>

  <form class="example-form">
    <mat-form-field class="example-half-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input class="circle2" matInput type="color">
    </mat-form-field>

    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Pick a Color</mat-label>
          <input class="circle2" matInput type="color">
        </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>
  <label>Select a Color</label>
  <input class="circle" [(colorPicker)]="color" [style.background]="color"/>
   <button type="submit"  mat-raised-button color="primary" >Primary</button>
   <button type="submit"  mat-raised-button color="primary" >Secondary</button>
   <button type="submit"  mat-raised-button color="primary" >Thirds</button>
   <button type="submit"  mat-raised-button color="primary" >Fourth</button>
   <button type="submit"  mat-raised-button color="primary" >Fifth</button>
   <button type="submit"  mat-raised-button color="primary" >Sixth</button>
 