
 .circle {
   width: 25px;
   height: 25px;
   border-radius: 50%
}

.circle2{
   width: 25px;
   height: 25px;
    border-radius: 50%;
 }

.example-half-width{
    width:50px;
}

.example-full-width{
    width:100px;
}
 