<mat-toolbar>
    <span>Make Some  Changes to your Bible</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stoked-button (click)="onClose()" tabIndex="-1"><mat-icon>x</mat-icon></button>
  </mat-toolbar>

 <div *ngIf='toggle'>
  <app-color-picker-component (exportColorEvent)="updateHighLightColors($event)" (toggleColorPickerEvent)="changeToggle($event)"></app-color-picker-component>
</div>


<div *ngIf='!toggle'class="example-button-row">
    <button mat-mini-fab [style.background]="profileColors.color1">Basic</button>
    <button mat-mini-fab [style.background]="profileColors.color2">Primary</button>
    <button mat-mini-fab [style.background]="profileColors.color3">Accent</button>
    <button mat-mini-fab [style.background]="profileColors.color4">Warn</button>
    <button mat-mini-fab [style.background]="profileColors.color5">Disabled</button>
    <button mat-mini-fab [style.background]="profileColors.color6"></button>
    <a mat-mini-fab [style.background]="profileColors.color7" routerLink=".">Link</a>
    <button mat-mini-fab [style.background]="profileColors.color8">Basic</button>
    <button mat-mini-fab [style.background]="profileColors.color9">Primary</button>
    <button mat-mini-fab [style.background]="profileColors.color10" (click)="updateColor()"></button>
    <button  #ignoredButton class="btn btn-primary" (click)="toggle=!toggle;">Toggle</button>
  </div>
  