<table *ngIf="userDetails" class="table-fill">
    <thead>
        <tr>
            <th colspan="2" class="text-center">User Profile</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td>{{userDetails.fullName.split(' ')[0]}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{userDetails.fullName.split(' ')[1]}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{userDetails.email}}</td>
        </tr>
        <tr>
            <td>Role</td>
            <td>{{userDetails.role}}</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <input type="button" (click)="onLogout()" value="logout" />
            </td>
        </tr>
    </tbody>
</table>
    <br>
<div class="center">
    <h2>Hello World</h2>
    <div> <input style="display: none" type="file" (change)="onFileSelected($event)" value="upload photo" #fileInput/></div>
    <div> <input type="button" (click)="fileInput.click()" value="Choose File" /></div>
    <p>Value: {{ profile.profile_id }}</p>

    <form #uploadImageForm="ngForm" (ngSubmit)="uploadImageForm.valid && uploadFileForm(); ; uploadImageForm.resetForm()">
        <input type="text" name="description" #description="ngModel" [(ngModel)]="profile.description" placeholder="Description" required
        [ngClass]="{'invalid-textbox' :uploadImageForm.submitted && !description.valid }" >
    <div *ngIf="uploadImageForm.submitted && description.errors?.pattern">
        <label class="validation-message">Invalid Profile Id.</label>
    </div>
        <input type="text" name="album" #album="ngModel" [(ngModel)]="profile.album" placeholder="Album"  required
        [ngClass]="{'invalid-textbox' :uploadImageForm.submitted && !album.valid }">
    <div *ngIf="uploadImageForm.submitted && album.errors?.pattern">
        <label class="validation-message">Invalid Album.</label>
    </div>
        <textarea class="form-text-area" name="comment" #comment="ngModel" [(ngModel)]="profile.comment" placeholder="Comment" required minlength="4"
            [ngClass]="{'invalid-textbox' :uploadImageForm.submitted && !comment.valid }" ></textarea>
    <div *ngIf="uploadImageForm.submitted && comment.errors?.minlength">
            <label class="validation-message">Minimum 4 characters.</label>
    </div>    
        <input type="submit" value=" Upload Photo">
        </form>

    <div class="container-fluid content-row">
        <div class="row" >
          <div class="card" class="customCard" *ngFor="let profileImage of profileImages">
            <div class="card" >
            <img
              [src]="profileImage.image"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{profileImage.album}}</h5>
              <p class="card-text">
                {{profileImage.description}}
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        
        </div>
        </div>
    </div>

</div> 




